body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: auto;
    color: #000000;
    background-color: #F6F6F6;
}
a {
    color: black;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
.chargement_site {
    z-index: 20;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    animation: loader-page 3s ease-in-out normal forwards;
    opacity: 1;
    background: #868484;
    position: fixed;
}
.chargement_site .chargement_logo {
    width: auto;
    height: 30px;
    margin-bottom: 20px;
}
.chargement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60px;
}
.chargement_1 {
    width: 15px;
    height: 15px;
    animation: jump 1s;
    animation-delay: 0.5s;
    border-radius: 50%;
    background: #9356DC;
}
.chargement_2 {
    width: 15px;
    height: 15px;
    animation: jump 1s;
    animation-delay: 1s;
    border-radius: 50%;
    background: #FF79DA;
}
.chargement_3 {
    width: 15px;
    height: 15px;
    animation: jump 1s;
    animation-delay: 1.5s;
    border-radius: 50%;
    background: #99E2D0;
}
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(.5rem);
    }
    75% {
        transform: translateY(-.5rem);
    }
    100% {
        transform: translateY(0);
    }
}
  @keyframes loader-page {
    0% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    100% {
      visibility: hidden;
      opacity: 0;
    }
}
header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 300px;
}
.localisation {
    display: flex;
    justify-content: center;
    padding: 1.25rem 1rem;
    background-color: #d3d3d3;
    position: relative;
}
.localisation span {
    font-weight: 700;
}
.en_tete{
    padding: 2rem;
    text-align: center;
    background-color: #e4e4e4;
}
.en_tete > h2 {
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    text-align: center;
    font-weight: 900;
}
.en_tete > p {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    text-align: center;
    font-weight: 300;
    padding: 5px;
}
.bouton_en_tete {
    border: 0;
    padding: .75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}
.fonctionnement {
    padding: 2rem 1rem;
    max-width: 1280px;
    margin: auto;
    position: relative;
}
.fonctionnement > h2 {
    margin-left: 15px;
    font-weight: 900;
}
.container_fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container_fonctionnement  span  i {
    padding-right: 10px;
}
.container_1, .container_2, .container_3 {
    padding: 23px;
    box-shadow: 0 0 0.8rem 0.25rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}
.container_1 > span, .container_2 > span, .container_3 > span {
    padding-top: 5px;
}
.container_numero {
    color: #fff;
    background: #9356DC;
    border: 1px solid grey;
    border-radius: 50%;
    padding: 4px 8px 4px 8px;
    margin: 0 1.5rem 0 -35px;
}
.bloc {
    padding: 2rem 1rem;
    background-color: #e4e4e4;
}
.bloc_restaurant {
    max-width: 1280px;
    margin: auto;
    position: relative;
}
.container_restaurant {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 30px;
    margin: 30px 0 50px;
}
.case_restaurant {
    display: grid;
    /*height: 210px;*/
    grid-template-rows: 1fr 40%;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
}
.case_restaurant > img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.description_restaurant {
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    padding: 5px 10px;
}
